
.header, .container_1{

    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.title{

    margin: 16px;
    padding: 16px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    font-family: 'roboto';
    margin-left: 0;
    padding-left: 0;
}

ul{
    display: flex;
    list-style: none;
    margin: 16px;
    padding: 16px;
    gap: 16px;  
    /*margin-right: 0;*/
    padding-right: 0;
  }

a{
    color: #F9FAF8;
     text-decoration: none;
     font-family: 'roboto';

}

.container_1{
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;


}

.left_side_c1{

    margin-right: 50px;

}

.main_text{

    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    font-family: 'roboto';

}

.text{

    color: #E5E7EB;
    font-size: 18px;
    font-family: 'roboto';
    margin-right: 20px;
    margin-bottom: 10px;

}

button{
    background-color: #3882F6;
    color: white;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 900;
    font-family: 'roboto';
    border-radius: 10px;
    border-width: 0;

}
